
a{
  font-size:20px;
  color: white;
  font-family: sans-serif;
}
p {
  color: white;
  font-size: 30px;
}
ul {
  left: 30px;
  padding-left: 30px;
  position: relative;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.navigation {
  width: 150px;
}
.mainmenu, .submenu {
  list-style: none;
  padding: 0px;
  margin:0px;

}

.mainmenu a {
  display: block;
  background-color: #056571;
  text-decoration: none;
  padding: 10px;
  color: white;
}
.mainmenu a:hover {
    background-color: #0F1626;
}
.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}
.submenu a {
  background-color: #CCDFCB;
}
.submenu a:hover {
  background-color: #0F1626;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
